.menu-login{
    font-family: "League Spartan", sans-serif;
}

.menu-login{
    border-radius: 20px;
    border-color: white;

}

.llenar{
    font-size: 20;
}

.llenar h1{
    font-weight: 500;
    margin-left: 10;
}

.llenar input{
    margin: 10;
    width: 270px;
    height: 30;
}

.buttonmenulogin{
    margin-top: 20px;
    text-align: center;
}

div.login{
    margin: 10px;
}

div.register{
    margin: 10px;
}

.login{
    font-family: "League Spartan", sans-serif;
    background-color: #ED117F;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 32px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.register{
    font-family: "League Spartan", sans-serif;
    background-color: #3DB6B1;
    color: white;
    border-radius: 50px;
    border: none;
    font-size: 32px;
    padding: 10px 20px;
    transition: background-color 0.3s;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

div.forgotpsw{
    margin: 10px;
}

div.forgotpsw a{
    color: black !important;
    font-size: 15px;
}

#loginoff {
    position: fixed;
    left: 91%;
    top: 12%;
    transform: translateX(-50%);
    z-index: 1;
}

#loginoff::backdrop {
    background-color: rgba(0, 0, 0, 0.5); /* Hacer que el fondo del modal sea transparente */
}
